html,
body {
  margin: 0;
}
p {
  font-family: 'Bahnschrift', sans-serif;
}
h1 {
  font-family: 'Bahnschrift', sans-serif;
}
h2 {
  font-family: 'Bahnschrift', sans-serif;
}
h3 {
  font-family: 'Bahnschrift', sans-serif;
}
h4 {
  font-family: 'Bahnschrift', sans-serif;
}
a {
  font-family: 'Bahnschrift', sans-serif;
}

.top {
  width: 100%;
  height: 5%;
  background-color: white;
  display: inline-block;
  text-align: center;
}
.abc {
  display: inline-block;
  max-width: 20%;
  max-height: auto;
  background-color: none;
  margin-right: 78%;
  margin-bottom: .5%;
  margin-top: .5%;
}
.logo {
  display: inline;
  width: 25%;
  height:auto;
  float:left;
}
.arthur {
  font-weight: lighter;
  color:#004A9E;
  display: inline-block;
}


.call {
  display: inline-block;
  text-align: right;
  background-color: none;
  float: inherit;
  background-color: none;
  margin-top: 1.2%;
  position: absolute;
  margin-left: -25%;
}
.callus {
  display: inline;
  color: #999999;
}
.phonenumber {
  display: inline;
  color: #004A9E;
  font-weight: bold;
}
.officehours {
  color: #999999;
  display:inline-block;
  margin-left: 5%;
  margin-top: 1%;
  margin-bottom: 2%;
}


.home {
  background-image: url("Images/banner_31.jpg");
  max-width: 100%;
  max-height: 40%;
  text-align: left;
  display: block;
  background-size: cover;
}
.home2 {
  background-color: #EAECF2;
  max-width: 100%;
  max-height: 30%;
  text-align: left;
  display: block;
}
.menu {
  max-width: 100%;
  max-height: 5%;
  background: rgba(0, 0, 0, 0.1);
  color: black;
  text-align: center;
  padding-top: .5%;
  padding-bottom: .4%;
}
a {
  text-decoration: none;
}
.menuword {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  color: white;
  letter-spacing: 1px;
}
.menuword:hover {
  color: #004A9E;
}

.words {
  background-color:none;
  max-width: 35%;
  max-height: 20%;
  display: inline-block;
  text-align: center;
  margin-left: 5%;
  margin-top: 7%;
  margin-bottom: 3%;
}
.benson {
  display: inline-block;
  font-size: 400%;
  color: white;

}
.lineone {
  border: 2px solid white;
  max-width: 70%;
  max-height: 2%;
  margin-top: -2%;
}
.general {
  display: inline-block;
  margin-left: 18%;
  margin-right: 18%;
  margin-top: 3%;
  font-size: 300%;
  font-weight: lighter;
  color: white;
}
.dedicated {
  display: inline-block;
  margin-left: 18%;
  margin-right: 18%;
  margin-top: 5%;
  font-size: 140%;
  color: white;

}
.download {
  margin-top: 4%;
  display: inline-block;
  color: #004A9E;
  background-color: #E2E2E2;
  padding: 2%;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 160%;
  padding-top: 2.5%;
}

.download:hover{
  color: white;
  background-color: #004A9E;
}
.social{
  display: inline-block;
  margin-top: 6%;
  margin-bottom: 8%;
}
.yelp{
  display: inline-block;
  max-width: 3%;
  max-height: auto;
  margin-left: 2%;
  margin-right: 2%;

}
.google {
  display: inline-block;
  max-width: 3%;
  max-height: auto;
  margin-left: 2%;
  margin-right: 2%;
}
.facebook {
  display: inline-block;
  max-width: 3%;
  max-height: auto;
  margin-left: 2%;
  margin-right: 2%;
}


.services {
  background-image: url("Images/background.jpg");
  background-repeat: no-repeat;
  max-width: 200%;
  max-height: auto;
  display: inline-block;
  text-align: center;
  background-size: cover;
  padding-top: 7%;

}
.ourservices {
  display: inline-block;
  font-size: 350%;
  color: #004A9E;
  padding-bottom: 2%;
}
.comprehensive {
  font-size: 170%;
  color: #004A9E;
  font-weight: lighter;
  margin-bottom: 5%;
}
.linetwo {
  border: 2px solid #004A9E;
  max-width: 10%;
  max-height: 2%;
  margin-top: -2%;
}
.chairimage {
  display: inline-block;
  max-width: 30%;
  max-height; auto;
  margin-left: 3%;
  float: left;
  margin-top: 2%;
  margin-left: 7%;

}

.pone{
  display: inline-block;
  background-color: none;
  max-width: 20%;
  margin-left: 5%;
  margin-bottom: 10%;
}
.firstp {
  display: inline-block;
  text-align: left;
  color: #636363;
  font-weight: lighter;
  font-size: 130%;
  line-height: 150%;
  margin-top: -10
}
.secondp {
  display: inline-block;
  text-align: left;
  color: #636363;
  font-weight: lighter;
  font-size: 130%;
  line-height: 150%;
  margin-top: 5%;
}

.ptwo {
  display: inline-block;
  background-color: none;
  float: right;
  margin-right: 15%;
  max-width: 15%;

}
.quote {
  display: inline-block;
  text-align: left;
  color: #636363;
  font-weight: lighter;
  margin-left: 5%;
  font-size: 130%;
  line-height: 150%;
}


.patients {
  background-color: #F5F5F5;
  width: 100%;
  height: 30%;
  text-align: center;
  display: inline-block;
}
.newpatients {
  margin-top: 10%;
  color: #004A9E;
  font-size: 400%;
  margin-bottom: 1%;
}
.linethree {
  border: 2px solid #004A9E;
  max-width: 10%;
  max-height: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.weparticipate {
  color: #004A9E;
  font-weight: lighter;
  font-size: 200%;
  margin-top: 1%;
}
.pleasecall {
  font-weight: lighter;
  color: #707070;
  line-height: 130%;
  font-size: 110%;
}
.please {
  font-weight: lighter;
  color: #707070;
  margin-top: 5%;
  font-size: 150%;
  line-height: 130%;
}
.click {
  margin-top: 4%;
  font-size: 140%;
  margin-bottom: 2%
}
.downloadtwo {
  background-color: #6F9ACB;
  color: white;
  padding: .8%;
  font-size: 170%;
  padding-left: 2%;
  padding-right: 2%;
  font-weight: normal;
}
.downloadtwo:hover {
  background-color: #B7D9FF;
  color: #004A9E;
  padding: .8%;
  font-size: 170%;
  padding-left: 2%;
  padding-right: 2%;
  font-weight: normal;
}
.patientforms {
  color: #707070;
  font-weight: lighter;
  margin-top: 2%;
  margin-bottom: 10%;
  font-size: 120%;
}


.gallery {
  text-align: center;
  padding-bottom: 1%;
}
.row {
  display: grid;
  grid-gap: 4px;
  margin-top: 1%;
  margin-left: 30%;
}
.galleryimage1 {
  width: 30.24%;
  margin-right: 4px;
  position:absolute;
  margin-left: -42.2%;

}
.galleryimage {
  width: 38%;

}


.contact {
  background-color: #F5F5F5;
  text-align: center;
  padding-top: 8%;
  display: inline-block;
  width: 100%;
  padding-bottom: 10%;
}
.contactus {
  color: #004A9E;
  font-size: 400%;
  margin-bottom: .5%;
}
.linefour {
  border: 2px solid #004A9E;
  max-width: 10%;
  max-height: 2%;
  margin-bottom: 2%;
}
.rec1 {
  background-color: white;
  display:inline-block;
  width: 10%;
  text-align: left;
  padding-left: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 25%;
  margin-bottom: 3%;
}
.rec2 {
  background-color: white;
  display:inline-block;
  width: 10%;
  text-align: left;
  padding-left: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-right: 25%;
}
.generalinquiries{
  line-height: 1%;
  font-weight: lighter;
}
.telephone {
  margin-top: 10%;
  line-height: .2%;
  font-weight: lighter;
}
.officeaddress {
  margin-bottom: 10%;
}

.map {
  margin-top: 5%;
}

.end {
  background-color: #666E7A;
  width: 100%;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 1%;
}
.credits {
  color: white;
  font-weight: lighter;
  font-size: 170%;
  margin-bottom: -4%;
}
.yelp2{
  display: inline-block;
  max-width: 1.5%;
  max-height: auto;
  margin-left: 1%;
  margin-right: 1%;

}
.google2 {
  display: inline-block;
  max-width: 1.5%;
  max-height: auto;
  margin-left: 1%;
  margin-right: 1%;
}
.facebook2 {
  display: inline-block;
  max-width: 1.5%;
  max-height: auto;
  margin-left: 1%;
  margin-right: 1%;
}
.small {
  color: white;
  font-size: lighter;
  margin-top: -6%;
}
.copyright {
  display: inline-block;
  width: 20%;
}
.logo2 {
  display: block;
  width: 20%;
  margin: auto;
  margin-top: 3%;
}
.copyrightwords {
  color: #3D3D40;
  font-size: 70%;
  margin-top: 8%;
}

.about {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}
.aboutdrchoi {
  color: #004A9E;
  margin-bottom: .5%;
}
.linefive {
  border: 2px solid #004A9E;
  max-width: 10%;
  max-height: 2%;
  margin-bottom: 2%;
}
.drchoi {
  display: inline-block;
  float:left;
  margin-left: 15%;
  width: 30%;
}
.aboutwords{
  float:right;
  text-align: left;
  background-color: none;
  width: 25%;
  margin-right: 20%;
  font-weight: lighter;
}
.aboutimages{
  display: inline-block;
  margin-top: 3%;
}
.topdiv {
  display: inline-block;
}
.drchoiwas {
  color: #004A9E;

}
